@page "/changepassword"
@attribute [Authorize]


@using ImHere.Services.Dtos
@using ImHere.Services
@inject AccountService _accountService
@inject NavigationManager _navigationManager

<h1>Change Password</h1>

<EditForm Model="@changePasswordModel" OnValidSubmit="@(async () => await ChangePasswordAsync())">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="oldPassword">Current Password</label>
        <InputText @bind-Value="@changePasswordModel.CurrentPassword"
                   type="password"
                   class="form-control"
                   id="currentPassword"
                   placeholder="Current Password" />
        <small class="form-text">
            <ValidationMessage For="@(() => changePasswordModel.CurrentPassword)" />
        </small>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <InputText @bind-Value="@changePasswordModel.NewPassword"
                   type="password"
                   class="form-control"
                   id="newPassword"
                   placeholder="New Password" />
        <small class="form-text">
            <ValidationMessage For="@(() => changePasswordModel.NewPassword)" />
        </small>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
    <NavLink class="btn btn-secondary" href="">Cancel</NavLink>
</EditForm>

@code {
    private ChangePasswordDto changePasswordModel = new ChangePasswordDto();

    private async Task ChangePasswordAsync()
    {
        var result = await _accountService.ChangePasswordAsync(changePasswordModel);

        if (result.Succeeded)
            _navigationManager.NavigateTo("passwordsuccess");
    }
}
