@page "/studentform/{EditingStudentId:int}"
@page "/newstudent/{EventId:int}"

@using ImHere.Services.Dtos
@using ImHere.Services
@using ImHere.Data.Models

@inject StudentService _studentService
@inject NavigationManager _navigationManager

<div class="row">
    <div class="col-md-8 col-lg-6 col-xl-4">
        @if (EditingStudentId == 0)
        {
            <h1>New Attendee</h1>
            <p>Please enter your name. If you'd like us to be able to contact you, please provide your phone number, email address, or both.</p>
        } else
        {
            <h1>Editing Attendee</h1>
        }
        <EditForm Model="@currentStudent" OnValidSubmit="@SubmitAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label for="first-name">First Name</label>
                <InputText id="first-name" class="form-control" @bind-Value="@currentStudent.FirstName" placeholder="First Name" />
                <small class="form-text">
                    <ValidationMessage For="@(() => currentStudent.FirstName)" />
                </small>
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <InputText id="last-name" class="form-control" @bind-Value="@currentStudent.LastName" placeholder="Last Name" />
                <small class="form-text">
                    <ValidationMessage For="@(() => currentStudent.LastName)" />
                </small>
            </div>
            <p class="ml-3">
                @foreach (var st in studentTypes)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="studentType" id="@($"studentType{st.Id}")" checked="@(currentStudent.StudentTypeId == st.Id)" @onchange="() => currentStudent.StudentTypeId = st.Id">
                        <label class="form-check-label" for="@($"studentType{st.Id}")">
                            @st.Description
                        </label>
                    </div>
                }
            </p>
            @if (EditingStudentId == 0)
            {
                <p>How would you like us to be able to contact you?</p>
            } else
            {
                <p>Contact Info:</p>
            }
            <div class="ml-3">
                <div class="form-group">
                    <label for="phone">Phone Number (Optional)</label>
                    <InputText id="phone" class="form-control" @bind-Value="@currentStudent.Phone" placeholder="(XXX) XXX-XXXX" />
                    <small class="form-text">
                        <ValidationMessage For="@(() => currentStudent.Phone)" />
                    </small>
                </div>
                <div class="form-group">
                    <label for="email">Email Address (Optional)</label>
                    <InputText id="email" class="form-control" @bind-Value="@currentStudent.Email" placeholder="youraddress@domain.com" />
                    <small class="form-text">
                        <ValidationMessage For="@(() => currentStudent.Email)" />
                    </small>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                <span><span class="oi oi-check" aria-hidden="true"></span>@(EditingStudentId == 0 ? "Register and Check In" : " Save Changes")</span>
            </button>
            <NavLink href="@returnPath" class="btn btn-secondary">
                <span class="oi oi-x"></span> Cancel
            </NavLink>
        </EditForm>
    </div>
</div>

@code {
    private StudentDto currentStudent = new StudentDto();
    private IEnumerable<StudentType> studentTypes = new List<StudentType>();
    private string returnPath = "";

    [Parameter]
    public int EventId { get; set; }

    [Parameter]
    public int EditingStudentId { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        studentTypes = await _studentService.GetStudentTypesAsync();

        if (EditingStudentId > 0)
        {
            var authState = await authenticationStateTask;
            if (!authState.User.Identity.IsAuthenticated)
                _navigationManager.NavigateTo("");

            returnPath = "/students";
            currentStudent = await _studentService.GetStudentAsync(EditingStudentId);
        }

        await base.OnInitializedAsync();
    }

    private async Task SubmitAsync(EditContext context)
    {
        if (EditingStudentId == 0)
        {
            var newStudent = await _studentService.CreateStudentAsync(currentStudent);
            if (EventId > 0)
                _navigationManager.NavigateTo($"/studentcheckin/{newStudent.Id}/{EventId}");
            else
                _navigationManager.NavigateTo(returnPath);
        }
        else
        {
            await _studentService.UpdateStudent(currentStudent);
            _navigationManager.NavigateTo(returnPath);
        }
    }
}
